@charset "UTF-8";
@import "common/layout.css";
@import "setting";
/* 設定 */

#header {
  position: relative;
  width: 100%;
  height: 90px;
  background: $base_color;
  text-align: center;
  h1 {
    // position: absolute;
    // left: 0;
    // right: 0;
    padding: 15px 0 0 20px;
    // margin:0 auto;
  }
  .arrow {
    display: none;
    position: absolute;
    left: 50px;
    top: 25px;
  }
}


#setList  {
  .list {
    padding-top: 40px;
    h2 {
      padding-left: 20px;
      font-size: 30px;
      span {
        font-weight: bold;
        color: $gray;
      }
    }
    ul {
      border-top: 2px solid $yellowGray;
      li {
        float: left;
        box-sizing: border-box;
        width: 100%;
        padding: 10px 20px;
        background: #fff;
        border-bottom: 2px solid $yellowGray;
      }
      .set {
        position: relative;
        top: 20px;
        float: left;
        font-size: 40px;
        font-weight: bold;
      }
      .edit {
        position: relative;
        top: 30px;
        float: right;
        cursor: pointer;
      }
    }
  }
}

// ▼label style
#setList .list ul li {
  label {
    float: left;
    margin-right: 20px;
    input[type='radio']{
      filter: alpha(opacity=0); -moz-opacity:0; opacity:0;
      position: absolute;
    }
  }
  .choose{
    width: 110px;
    height: 110px;
    line-height: 28px;
    display: block;
    padding: 0 0 0 15px;
    cursor: pointer;
    overflow: hidden;
  }
  .morning {
    background:url(../img/list/morning.png) no-repeat left bottom;
  }
  .day{
    background:url(../img/list/day.png) no-repeat left bottom;
  }
  .night {
    background:url(../img/list/night.png) no-repeat left bottom;
  }
  .yoga {
    background:url(../img/list/yoga.png) no-repeat left bottom;
  }
  .air{
    background:url(../img/list/air.png) no-repeat left bottom;
  }
  .myHouse {
    background:url(../img/list/house.png) no-repeat left bottom;
  }
  .current{
    background-position:left top;
  }
}


#mesh {
  margin-bottom: 30px;
  h2 {
    margin-bottom: 40px;
  }
  .tag {
    position:relative;
    width: 212px;
    height: 259px;
    margin: 0 auto;
    padding-top: 23px;
    background: url(../img/mesh/body.png) no-repeat;
  }
}

  #HEMSButton {
      position:absolute;
      left: 57px;
      width: 86px;
      height: 80px;
      border: none;
      background-color: none;
      background: url(../img/mesh/btn_off.png) no-repeat;
      cursor: pointer;
      &:hover {
        background: url(../img/mesh/btn_on.png) no-repeat;
      }
  }

#house {
  margin-bottom: 50px;
    iframe {
      width: 967px;
      height: 754px;
      border: none;
    }
}