@charset "UTF-8";
@import "common/layout.css";
@import "setting";
/* 設定 */

#hourList  {
  @include floatListCenter;
  margin: 40px 0;
  li {
    input[type='radio']{
      filter: alpha(opacity=0); -moz-opacity:0; opacity:0;
      position: absolute;
    }
    .choose{
      width: 250px;
      height: 210px;
      line-height: 28px;
      display: block;
      padding: 0 0 0 15px;
      cursor: pointer;
      overflow: hidden;
    }
    .morning {
      background:url(../img/hourList/morningHour.png) no-repeat left bottom;
    }
    .day{
      background:url(../img/hourList/dayHour.png) no-repeat left bottom;
    }
    .night {
      background:url(../img/hourList/nightHour.png) no-repeat left bottom;
    }
    .current{
      background-position:left top;
    }

    &:nth-child(-n+2) {
      margin-right: 50px;
    }
  }
}

#mesh {
  margin-bottom: 30px;
  h2 {
    margin-bottom: 40px;
  }
  .tag {
    width: 212px;
    height: 259px;
    margin: 0 auto;
    padding-top: 23px;
    background: url(../img/mesh/body.png) no-repeat;
  }
}

  #HEMSButton {
    .on {
      position:relative;
      left: -5px;
      width: 86px;
      height: 80px;
      border: none;
      background-color: none;
      background: url(../img/mesh/btn_off.png) no-repeat;
      cursor: pointer;
      &:hover {
        background: url(../img/mesh/btn_on.png) no-repeat;
      }
    }
  }

#house {
  margin-bottom: 50px;
    iframe {
      width: 967px;
      height: 754px;
      border: none;
    }
}