@charset "UTF-8";
@import "common/layout.css";
@import "setting";
/* 設定 */

#header {
  position: fixed;
  width: 100%;
  background: $base_color;
  text-align: center;
  z-index: 10;
  h1 {
    margin: 0 auto;
    padding: 12px 0 12px 15px;
    img {
      width: 180px;
    }
  }
  #backArrow {
    display: none;
    position: absolute;
    left: 25px;
    top: 12px;
    width: 13px;
    height: 17px;
    cursor: pointer;
  }
}

#view {
  position: relative;
  // right: 100%;
  right: 0;
}

#setList  {
  position: relative;
  // right: 100%;
  right: 0;
  padding-top: $header_height;
  margin-bottom: 20px;
  .list {
    padding-top: 30px;
    h2 {
      padding-left: 10px;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
      span {
        font-weight: bold;
        color: $gray;
      }
    }
    ul {
      border-top: 1px solid $yellowGray;
      li {
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 100%;
        // padding: 8px 10px;
        background: #fff;
        border-bottom: 1px solid $yellowGray;
        cursor: pointer;
        &:hover {
          // background: lighten( $lightYellow , 6 );
        }
        label {
          float: left;
          // width: 20%;
          // padding: 10px 20px;
          margin: 5px 10px;
        }
        .item {
          float: left;
          width: calc( 100% - ( 55px + 20px ) );
          height: 55px;
          .set {
            position: relative;
            top: 15px;
            float: left;
            font-size: 22px;
            font-weight: bold;
          }
          .edit {
            position: absolute;
            top: 0;
            bottom: 0;
            float: right;
            margin: auto;
            padding: 0 10px;
            cursor: pointer;
          }
          .btn {
            right: 10px;
            width: 23px;
            height: 23px;
          }
          .arrow {
            top: -7px;
            right: 20px;
            width: 8px;
            height: 23px;
          }
        }
      }

    }
  }
}

// ▼label style
#setList .list ul li {
  label {
    input[type='radio']{
      opacity:0;
      position: absolute;
    }
  }
  .choose{
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    line-height: 14px;
    display: block;
    // padding: 0 0 0 8px;
    cursor: pointer;
    overflow: hidden;
    background: no-repeat left bottom;
    background-size: 200%;
  }
  .morning {
    background-image:url(../img/list/morning.png);
  }
  .day{
    background-image:url(../img/list/day.png);
  }
  .night {
    background-image:url(../img/list/night.png);
  }
  .yoga {
    background-image:url(../img/list/yoga.png);
  }
  .air{
    background-image:url(../img/list/air.png);
  }
  .myHouse {
    background-image:url(../img/list/house.png);
  }
  .current {
    background-position: right bottom;
  }
}

#setting {
  padding-top: $header_height;
  position: absolute;
  top: 0;
  left: 100%;
  // left: 0;
  width: 100%;
}

#setHeader {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  text-align: center;
  h1 {
    position: relative;
    left: 50%;
    float: left;
    height: 40px;
    .wrapper {
      img, span {
        position: relative;
        left: -50%;
        float: left;
      }
      img {
        width: 55px;
        height: 55px;
        margin-right: 5px;
      }
      span {
        padding-top: 15px;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

#setBody {
  padding: 10px;
  margin-bottom: 20px;
  & > ul {
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba( #000 , .1 );
    & > li {
      float: left;
      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;
      background: #fff;
      border-bottom: 1px solid $yellowGray;
      &:first-child {
        border-radius: 8px 8px 0 0;
      }
      &:last-child {
        border-radius: 0 0 8px 8px;
        border-bottom: none;
      }
      h2 {
        display: inline-block;
        font-size: 18px;
      }
    }
  }
}

  #setBody ul.status {
    float: right;
    li {
      margin-bottom: 10px;
      text-align: right;
      &:last-child {
        margin-bottom: 0;
      }
      label {
      }
      select {
        width: 80px;
        text-align: center;
        font-size: 14px;
      }
    }
  }

#setting .btnArea {
  text-align: center;
  margin-bottom: 40px;
  .btn {
    width: 70%;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba( #000 , .1 );
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

#setHEMS {
  background: $base_color;
  &:hover {
    background: lighten( $base_color , 8 );
  }
}

#changeState {
  background: $skyBulue;
  &:hover {
    background: lighten( $skyBulue , 10 );
  }
}


#house {
  margin-bottom: 50px;
    iframe {
      width: 967px;
      height: 754px;
      border: none;
    }
}